<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
		<div class="columns">
			<div class="column">
			      {{ .Content }}
			</div>
			<div class="column is-one-third">
				<div>
					<figure class="image is-4by3 m-0" style="width: 100%">
					<img src="/images/illustrations/{{ .Params.image }}" alt="{{ .Title }}">
					</figure>
				</div>
				<div class="pl-5" style="border-left: 3px solid #4FC1EA">
					<h5 class="label mt-4">Prijs</h5>
					<span>{{ .Params.price }}</span>
					<h5 class="label mt-4">Tijdsduur</h5>
					<span>{{ .Params.duration }}</span>
					<h5 class="label mt-4">Aantal deelnemers</h5>
					<span>{{ .Params.participants }}</span>
					<h5 class="label mt-4">Talen</h5>
					<span>{{ .Params.languages }}</span>
				</div>
			</div>
		</div>
    </div>
  </div>
</section>
