{{- $section2 := .Site.Params.section3 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<a name="{{ $title | urlize }}"></a>
<section class="section is-medium" id="section2">
  <div class="container">
		<div class="title-wrapper has-text-centered">
			<h2 class="title is-2">{{ $title }}</h2>
			<h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
			<div class="divider is-centered"></div>
		</div>

	  	{{ range $index, $element := where .Site.RegularPages "Section" "play"}}
		<div class="columns is-vcentered" style="min-height: 90vh">
			<div class="column is-hidden-desktop">
				<img src="/images/illustrations/{{ $element.Params.image }}"/>
			</div>
			{{ if eq 0 (mod $index 2) }}
			<div class="column is-hidden-touch">
				<img src="/images/illustrations/{{ $element.Params.image }}"/>
			</div>
			{{ end }}
			<div class="column">
				<div class="content">
					<a id="element-#{{ $element.Title | urlize }}" name="{{ $element.Title | urlize }}"></a>
					<h2 class="title">{{ $element.Title }}</h2>
					{{ with $element.Params.subtitle }}
					<h4 class="subtitle">{{ . }}</h4>
					{{ end }}
					{{ $element.Content }}
				</div>
			</div>
			{{ if eq 1 (mod $index 2) }}
			<div class="column is-hidden-touch">
				<img src="/images/illustrations/{{ $element.Params.image }}"/>
			</div>
			{{ end }}
		</div>
		{{ end }}
  </div>
</section>
